html, body {
    margin: 0px;
    padding: 0px;

}

div {
    margin: 10px;
    padding: 0px;
    float: left;
    align-content: auto;

}

#title-banner {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

tr{
    float: center;
}
